extends layout

block content

  div#wrapper
    - const remained = gameData.remainedGuesses
    - const total = gameData.totalAttempts
    - const codeLen = gameData.codeLen
    - const current = gameData.current
    - const status = gameData.status
    - const hints = gameData.hints
    - const code = gameData.code
    - const style = gameData.style
    - const array = gameData.array
    - const date = gameData.date
    - const level = gameData.complexity == 0 ? 'Easy': gameData.complexity == 1 ? 'Medium' : 'Hard'
    - const digitOrderArr = ['1st', '2nd', '3rd', '4th']
    - const codeMask = code.split('').map(digit => ' ' + array[digit]).join('') 

    .game-table
      .main-numpad
        .game-top
          .guess-digit-column
            - let i = 0
            while i < total
              div(class = 'guess-row-' + i, id = current == i ?  'row-current' : '')
                p.attempt-para= 'attempt ' + (i+1) + ' '
                div(class='guess-digit-row-' + i)
                  - let j = 0
                  while j < codeLen
                    div(class= 'attempt-result')
                      p= guessesArr[i][j] == -1 ? '-' : array[guessesArr[i][j]]
                    - j++
                .help
                  .attempt-feedback
                    if feedbackArr[i].length > 0
                      <p><strong>feedback: </strong>#{feedbackArr[i]}</p>

                  .hint
                    if hintArr[i] == -1
                      p hint: 1 or 2 unique digits
                    else if hintArr[i] == '-'
                      p 
                    else
                      <p>hint: at least one <span class="hintArrOutput">#{array[hintArr[i]]}</span></p>


              - i++

        .numpad-input
          form(id="choose-form" action="/game/" method="post")
            .numpad-left
              .choose-digit-column
                each cVal in [1, 2, 3, 4]
                  div(class='choose-digit-row-' + cVal)
                    .digit-to-select
                      p= 'Choose ' + digitOrderArr[cVal-1] + (style == 0 ? ' digit' : style == 5 ? ' country' : style == 6 ? ' note' : ' emoji')
                    .numpad
                      each rVal in [0, 1, 2, 3, 4, 5, 6, 7]
                        input.radioInput(id='radio-digit-'+cVal+'-'+rVal type='radio' name='radio-digit-'+cVal value=rVal)
                        label(for='radio-digit-'+cVal+'-'+rVal)= array[rVal]
          .numpad-right
            .guess-submit-btn 
              input(type="submit" id="choose-form-input" form="choose-form" disabled = remained == 0 || status=='Won' || status == 'Lost' ? true : false )


            form(id="hint-form" action="/game/hint" method="post")
              .guess-submit-btn 
                input(id="hint-input" type="submit" form="hint-form" value="Hint" disabled = hints == 0 || remained == 0 || status=='Won' || status == 'Lost'  ? true : hintArr[current] != '-' ? true : false)
            form(id="result-form" action="/game/finish" method="post")
              .result-submit-btn 
                input(type="submit" value="Restart")

      .info
        <h1 class="info-box"><p class="info-top">Status</p><p class="info-bottom">#{status}</p></h1>
        <h1 class="info-box"><p class="info-top">Attempts</p><p class="info-bottom">#{remained}</p></h1>
        <h1 class="info-box"><p class="info-top">Hints</p><p class="info-bottom">#{hints}</p></h1>
        <h1 class="info-box"><p class="info-top">Level</p><p class="info-bottom">#{level}</p></h1>
        <h1 class="info-box"><p class="info-top">Code</p><p class="info-bottom">#{remained == 0 ? codeMask : 'X X X X'}</p></h1>
        <h1 class="info-box"><p class="info-top">Time</p><p class="info-bottom" id="timer">#{date}</p></h1>




